@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 35px 150px;
}

nav .nav-head {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

nav .nav-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px 17px 24px;
    opacity: 0.8;


}

/* banner section */
.banner-section {
    background-image: url("../assets/Hero-bg.png");


}

.banner-section div {
    text-align: center;
}

.heading {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.describtion {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.btn {

    align-items: center;


}

.btn-link {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    margin: 0px 10px;
    margin-bottom: 45px;
    color: white;

}

/* development section */
.common-section {
    margin: 70px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.developer-div {
    padding: 80px;
}

.web-dev {
    display: flex;
    gap: 90px;

}

.dev-heading {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

}


.dev-describtion {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* My Inspiration */
.inspiration {
    margin: 70px 150px;
    border-radius: 16px;
}

.inspiration-ifram {
    padding: 32px;
}

/* My Current Target */
.current-target {
    display: flex;
    gap: 24px;
    align-items: center;
}

.current-heading {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.html-dection {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.css-section {
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.javascript-section {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/*  */
.next-terget {
    display: flex;
    margin: 24px;
    align-items: center;
    padding: 30px;
    gap: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.next-terget img {
    width: 90px;
    height: 80px;

}